html,button{
    font-family: arial,sans-serif;
    font-size:15px;
    

   
}
body{
    background-color: whitesmoke;
    
}
body img ,#search{
    display:block;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    width:auto;
    top:100px;
    
    
    
}
#search{
    width:400px;

}

button{
    display:inline-block;
    position:relative;
    background-color: whitesmoke;
    border:none;
    left:43%;
    top: 100px;
    
     
}
button:hover{
    text-decoration: underline;
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    

}
li{
    display:inline;
}
li a{
    display:inline-block;
    padding:20px;
    text-decoration: none;
    color:black
}
li a:hover{
    text-decoration: underline;
}
li .ba{
   
    position: relative;
    margin-top: 0.7em;
    color:white;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    background-color: rgb(72, 133, 237);
    
}

div button a{
    text-decoration: none;
    color:grey;
    font-family: arial,sans-serif;
}
footer{
    position: fixed;
    bottom:0;
    border: 1px solid #e7e7e7;
    background-color: whitesmoke
}
